.container{
    width: 33.33333%;
    padding: 10px;
}

.widget{
    background-color: #FFFAF1;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 10px 0;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.city{
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.status{
    font-size: 13px;
    color: #C5C5C5;
    display: flex;
    align-items: center;
    gap: 5px;
}

.statusIcon{
    height: 30px;
}

.date{
    font-size: 16px;
    color: #333;
    opacity: .5;
    margin-bottom: 25px;
    padding: 0 15px;
}

.bottom{
    padding: 0 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.temp{
    display: flex;  
}

.tempVal{
    font-size: 44px;
    color: #333;
    font-weight: 700;
}

.tempTumbler{
    align-self: start;
    display: flex;
    gap: 5px;
    align-items: center;
}

.tempItem{
    cursor: pointer;
    font-size: 22px;
    color: #8D8D8D;
    font-weight: 600;

    &.active{
        color: #333;
    }
}

.feelsLike{
    color: #C5C5C5;
    font-size: 13px;
}

.option{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin-bottom: 5px;
    gap: 5px;
    color: #333;

    & span{
        color: #FFA25B;
    }

    &:last-child{
        margin-bottom: 0;
    }
}