@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

.app{
    font-family: 'Jost', sans-serif;
}

tspan{
    font-size: 12px;
}